*~
*.o
*.lo
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
examples/.dirstamp
examples/lib1
install-sh
lib6502-jit*
lib6502-jit*
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
run6502
stamp-h1
test/.dirstamp
test/*.mc
test/basic-callback
test/call-illegal-callback-modify-code
test/irq-nmi
test/setjmp-trick
test/stack-code-brk
test/stack-code-jsr
test/write-callback-modify-code
test/z-self-modify-1.mc
test/z-self-modify-1.out
